
Codename.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Codename.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/UserInterfaceState.xcuserstate

Codename.xcodeproj/xcuserdata/brian.xcuserdatad/xcschemes/Codename.xcscheme

Codename.xcodeproj/xcuserdata/brian.xcuserdatad/xcschemes/xcschememanagement.plist
